<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="icon" href="/Images/logo.png">
  <meta name="description" content="The best Minectaft network!.">
  <meta name="author" content="zAukz">

  <link rel="stylesheet" href="/CSS/global.css">
  <link rel="stylesheet" href="/CSS/rules.css">

  <title>RT Network | Rules</title>
</head>
<body>
  <!--Navbar-->
  <div class="navbar">
    <div class="menu-mobile">
      <a href="index.html">
        <div class="logo">
          <img src="/Images/logo.png" alt="Server logo" class="logo-img">
          <h3 class="server-name">RT Network</h3>
        </div>
      </a>
      <div class="hamburger">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>

    <div class="links">
      <a href="index.ejs" class="link">Home</a>
      <a href="#" class="link active">Rules</a>
    <!--  <a href="staff.html" class="link">Staff</a> -->
      <a href="requests.ejs" class="link">Requests</a>
    </div>
  </div>

  <!--Header-->
  <section id="header">
    <div class="content">
      <div class="info">
        <p class="minecraft-server-ip">mc.example.com</p>
        <h1 class="title">Follow the <span>rules</span></h1>
      </div>
      <p class="description">
        List of all Minecraft and Discord server rules.
      </p>
    </div>
  </section>

  <!--Rules-->
  <section id="rules">
    <div class="content">
      <div class="warning">
        <p>By joining our Minecraft or Discord server, you automatically agree to these rules.</p>
        <div class="icon">
          <i class="fa-solid fa-exclamation"></i>
        </div>
      </div>

      <div class="minecraft-rules rules">
        <h2 class="minecraft-rules-title rules-title">Minecraft server rules</h2>
        <ol class="rules-list">
          <li class="rule">No hacking or using cheats of any kind, including client-side mods that provide unfair advantages.</li>
          <li class="rule">No exploiting bugs or glitches—if you find a bug, report it to the staff instead of using it to your advantage.</li>
          <li class="rule">No advertising or promoting other servers or websites in chat, signs, or private messages.</li>
          <li class="rule">No unauthorized use of bots or third-party programs to automate tasks or actions within the server.</li>
          <li class="rule">Keep the server environment safe—do not create or distribute content that is harmful, malicious, or against the server’s goals.</li>
          <li class="rule">Respect the in-game economy and do not engage in exploitative trading or scamming other players.</li>

        </ol>
      </div>

      <div class="discord-rules rules">
        <h2 class="discord-rules-title rules-title">Discord server rules</h2>
        <ol class="rules-list">
          <li class="rule">Do not excessively @mention staff or other members unless necessary. Use the appropriate channels for support.</li>
          <li class="rule">Creating tickets without a reason will result in a blacklist from ticket creation.</li>
          <li class="rule">Channels have dediated purposes, please use them for their intended purposes.</li>
          <li class="rule">Be respectful in voice chats—avoid shouting, excessive noise, or interrupting others when they speak.</li>
        </ol>
      </div>

      <div class="more-rules rules">
        <h2 class="more-rules-title rules-title">Universal rules</h2>
        <ol class="rules-list">
          <li class="rule">Respect all players and staff members—no harassment, hate speech, or offensive behavior will be tolerated.</li>
          <li class="rule">Do not impersonate staff members, moderators, or other community members.</li>
          <li class="rule">If you encounter a rule violation, please report it to a staff member rather than taking matters into your own hands.</li>
          <li class="rule">No NSFW content, including any inappropriate language or images in public chat or private messages.</li>
          <li class="rule">No spamming in chat—keep the conversation clear and respectful for everyone to enjoy.</li>
          <li class="rule">Do not use alternate accounts to bypass server bans or restrictions. This will result in a permanent ban of all associated accounts.</li>
          <li class="rule">Use common sense and be considerate to others—treat the server as a community and not just a game.</li>
        </ol>
      </div>
    </div>
  </section>

  <!--Server Join-->
  <section id="join-server">
    <div class="content">
      <h2 class="section-title">If you have read the <span>rules</span>, you can go and <span>enjoy the fun</span> on our server!</h2>
      <div class="buttons">
        <a href="https://discord.gg/33645a4DmB" class="discord-link"><button class="join-discord">Join Discord</button></a>
      </div>
      <p class="ip-copied">IP was successfully copied!</p>
    </div>
  </section>

  <!--Footer-->
  <footer id="footer">
    <p class="copyright">&copy; 2025 <span class="server-name-footer">RT Network</span>. All rights reserved.</p>
    <div class="social-links">
    <!--  <a href="#" class="link tiktok-link"><i class="fa-brands fa-tiktok"></i></a>
      <a href="#" class="link instagram-link"><i class="fa-brands fa-square-instagram"></i></a> -->
      <a href="https://discord.gg/33645a4DmB" class="link discord-link-footer"><i class="fa-brands fa-discord"></i></a>
    </div>
  </footer>
</body>
<script src="js/script.js"></script>
<script src="https://kit.fontawesome.com/cbf5ee59c8.js" crossorigin="anonymous"></script>
</html>
